
.title{
    text-align: center;
    margin-top: 100px;
    font-size: 3rem;
    color: #fff2f2b6;
}
.enter-apps{
}
.enter-apps>*{
   color: #004a7c;
   padding: 50px; 
   font-size: 8rem;
   border-radius: 50%;
   text-decoration: none;
}
.enter-email{
    /* background-color: #fff; */
}
.enter-apps>*:hover{
    color: #004a7cc9;
}
.enter-apps span{
    font-size: 2rem; ;
    text-decoration: none;
}