@import '../css/apps/email/email-app.css';
@import '../css/apps/notes/notes-app.css';
@import './helpers.css';
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
    margin: 0;
    background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* layout */

.main-layout {
    min-height: 100vh;
}

/* header  */

.main-header {
    justify-content: space-between;
    align-items: center;
    background-color: #005691;
    color: #fafafa;
    padding: 15px;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

/* main-container  */

.main-container {
    margin: 0 auto;
    margin: 0 auto;
    flex: 1;
}

/* main-footer  */

.main-footer {
    background-color: #004a7c;
    color: #fafafa;
    justify-content: center;
    padding: 10px;
}

/* icons */

ul {
    text-decoration: none;
    list-style:none;
    padding:0;
    margin:0;
}

li {
    text-decoration: none;
    list-style:none;
    padding:0;
    margin:0;
}