.email-peek{
   background-color: #ffffff;
   border-radius: 0  0 10px 10px;
   padding: 10px;
}
.peek-header{
    width: 100%;
    display: inline-flex;
    color: #288dcc;
}
.peek-from span {
    font-size: 0.7rem;
    margin-right: 2px;
    color: rgb(141, 132, 132);

}

.from-email{
    color: #b8d31f;
    margin-left: 20px;
   
} 
.peek-body{
margin: 0;
padding: 20px;
color: #288dcc;
}
.peek-from{
    margin: 0;
}
.expand-email{
    margin-left: 10px;
}
.remove-email{
    background-color: rgba(255, 255, 255, 0);
   border: none;
   margin-right: 10px;
}