
.email-compose-container{
      background-color: white;
      z-index: 6;
      width:500px ;
      height: 20rem;
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-grow: 1;
        border-radius: 10px 10px 0 0;

    
}
.email-compose-container input{
   padding: 10px;
}
.email-compose-container p{
   padding: 10px;
}


.header-compose{
   background-color: #005691;
   color: antiquewhite;
   border-radius: 10px 10px 0 0;
}


.email-compose-btn{
   color: #005691;
   margin: 6px;
   padding:5px 10px 10px 10px;
   font-size: 2em;
   cursor: pointer;
}
.email-compose-btn>*:hover{
   /* padding: 2px; */

}
.discard-icon:hover{
   color: red

}

.send-icon:hover{
   color: green

}
@media(max-width:850px){
   .email-compose-container{
     justify-content: center;
     /* align-items: center; */
     align-self: center;
   }
}
