.email-peek{
   background-color: #f8e5e5;
   border-radius: 0  0 10px 10px;
   padding: 10px;
}
.peek-header{
    width: 100%;
    display: inline-flex;
    color: #288dcc;
}
.peek-from span {
    font-size: 0.7rem;
    margin-right: 2px;
    color: rgb(51, 49, 49);

}

.from-email{
    color: #288dcc;
    margin-left: 20px;
   
} 
.peek-body{
margin: 0;
padding-top: 20px;
padding-bottom: 20px;
color:black;
}
.peek-from{
    margin: 0;
}
.expand-email{
 margin-right: 50px;
}
