.emails-list{
max-width: 100%;

}
.emails-list ul{
    list-style: none;
    padding: 0;
}
.no-emails{
    margin-top: 100px;
    text-align: center;
    font-size: 3rem;
    background-color: #b2dffb;
}