.email-preview {
    margin: 3px;
    border-bottom: 1px solid rgb(199, 199, 199);
    border-radius: 0 0 10px 10px;
    background-color: rgba(255, 255, 255, 0.902);
    width: 100%;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.email-preview:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.read {
    background-color: rgba(233, 229, 229, 0.902);
}

.star:hover {
    border-radius: 50%;
    padding: 4px;
    background-color: rgb(226, 207, 207);
}

.show-more-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: auto;
    height: auto;
}

.show-more-btn:hover {
    color: red;
}

.star.stared {
    color: gold;
    /* background-color: black; */
    padding: 4px;
}

.star {
    margin-left: 5px;
    color: #b2dffb;
}

.email-name {
    margin-left: 5px;
}

.email-subject {
    margin-left: 30px;
}

.email-body {
    margin-left: 20px;
    color: rgb(173, 167, 143);
    font-size: small;
}

.sent-at {
    color: #e7a4e4;
    font-size: 0.7rem;
    align-self: flex-start;
}