.note-header {
    justify-content: center;
    align-items: center;
}

.note-input {
   flex-grow: 1;
    padding: 10px;
}

.note-type {
    padding: 10px 20px;
}

.note-type:first-of-type {
    margin-left: 5px;
}

.note-type:not(:last-of-type) {
    margin-right: 5px; 
}