@import './cmps/notes-list.cmp.css';
@import './cmps/notes-preview.cmp.css';

.note-header {
    justify-content: center;
    align-items: center;
}

.note-input {
    flex-grow: 1;
    padding: 10px;
}

.note-type {
    padding: 10px 20px;
}

.note-type:first-of-type {
    margin-left: 5px;
}

.note-type:not(:last-of-type) {
    margin-right: 5px;
}

.note {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 2px solid #004a7c;
    box-shadow: 1px 1px 1px #999;
    position: relative;
}

.note-title {
    border: none;
    padding-bottom: 10px;
    text-decoration: underline;
    font-weight: 500;
    font-size: 1.05rem;
    background-color:#ff7f5000;
}

.note-txt {
    border: none;
    overflow: auto;
    background-color:#ff7f5000;
}

.note-img {
    height: auto;
    width: 250px;
    object-fit: contain;
}

.note-pin {
    position: absolute;
    top: 5px;
    right: 5px;
}