.email-nav {
    flex-direction: column;
    margin-right: 50px;
 
}

.email-nav>* {
    margin-bottom: 5px;
    text-decoration: none;
    color: rgb(29, 28, 28);
    cursor: pointer;
}

.compose-ctr {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: rgb(29, 28, 28);
    border-radius: 20px;
    border: 1px solid rgb(29, 28, 28);
    padding: 0 10px;
    margin-bottom: 10px;
}

.compose-ctr:hover {
    background-color: #e8edf0;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
}

.folder-btn {
    padding: 5px;
    margin-top: 5px;
    border-radius: 0 20px 20px 0;
    align-items: center;
    display: flex;
}

.folder-btn small {
    margin-left: 10px;
    color: grey;
}
.folder-btn i{
    margin-right: 4px;
    align-self: center;
    padding-top: 0;
}

.folder-btn:hover {
    background-color: #e8edf0;
}


@media(max-width:850px){
    .email-nav {
        flex-direction: row;
        margin: 0;
    }
    .email-nav {
       
        justify-content: space-between;
    }
   .folder-btn:hover{
    background-color: rgba(250, 250, 255, 0);
    color:lightblue
   }
    .folder-btn{
        justify-content: center;

    }
    .folder-btn>*{
        margin: 0;
    }
    
}